body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #1e9be3, #ceea44, #f64f59);
    font-family: 'Arial', sans-serif;
}

.calculator {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.display {
    background: #000000;
    color: #ffffff;
    font-size: 2em;
    text-align: right;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    padding: 20px;
    font-size: 1.5em;
    border: none;
    background: #f0f0f0;
    color: #000000;
    cursor: pointer;
    outline: none;
    transition: background 0.3s, transform 0.3s;
    border: 2px solid black; /* Change the border color to black */
}

.btn:hover {
    background: linear-gradient(135deg, #12c2e9, #c471ed, #f64f59);
    color: #ffffff;
    transform: scale(1.1);
}

.btn:active {
    background: #cccccc;
}

.operator {
    background: #ff7f50;
    color: #ffffff;
}

.operator:hover {
    background: linear-gradient(135deg, #ff7f50, #ec1010);
    transform: scale(1.1);
}

#equals {
    grid-column: span 2;
    background: #28a745;
    color: #ffffff;
}

#equals:hover {
    background: linear-gradient(135deg, #28a745, #054d15);
    transform: scale(1.1);
}

#clear {
    grid-column: span 1.5;
    background: #dc3545;
    color: #ffffff;
}

#clear:hover {
    background: linear-gradient(135deg, #dc3545, #84131e);
    transform: scale(1.1);
}

#delete {
    grid-column: span 1.5;
    background: #5858fd;
    color: #ffffff;
}

#delete:hover {
    background: linear-gradient(135deg, #2a4cd4, #170da0);
    transform: scale(1.1);
}
